*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  padding: 133px 30px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  min-height: 54px;
}

.search-form__fieldset {
  display: flex;
  border: none;
  flex-direction: column;
  gap: 9px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 8px;
}

.search-form__label:hover:has(input[type="checkbox"]) {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__label-text {
  appearance: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  width: 225px;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  border-right: none !important;
}

.search-form__checkbox-list {
  display: flex;
  gap: 10px;
}

.search-form__checkbox {
  
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #fff;
}

input[type='checkbox']:checked + span {
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  font-family: Fira Sans Condensed;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  border: 1px solid;
  background-color: transparent;
  cursor: pointer;
}

.button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-form__submit-button {
  margin-top: auto;
  height: 50%;
  width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  opacity: 0.4;
}

.content__list-container {
  max-height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preloader-template {
}

.cards-list-item-template {
}

.content__list-item {
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: bottom;
  width: 50%;
}

.more-button-template {
}

.more-button {
  width: 100%;
}

.error-template {
}

.error {
}

.error__title {
}